.register {
  height: 100vh;
  background-color: #35a6b4;
  display: flex;
  align-items: center;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6a0572;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .card {
    width: 50%;
    max-height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--body_background);
    border-radius: 10px;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), #35a6b4),
        url("https://images.pexels.com/photos/9830108/pexels-photo-9830108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 70px;
        line-height: 0px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #35a6b4;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: var(--body_color);
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: var(--body_color);

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        .error {
          color: red;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #35a6b4;
          color: var(--body_color);
          font-weight: bold;
          cursor: pointer;
          border-radius: 10px; 
          font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
    }
  }
}
