.login{
    height: 100vh;
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{

        width: 50%;
        display: flex;
        background-color: var(--body_background);
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;


        .left{
            flex: 1;
            background:linear-gradient(rgba(11, 73, 96, 0.5), turquoise), url("https://images.pexels.com/photos/9830108/pexels-photo-9830108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 70px;
                line-height: 0px;

            }
            p{

            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: turquoise;
                color: var(--body_color);
                font-weight: bold;
                cursor: pointer;

            }

        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: var(--body_color);

            }
            form {
                display: flex;
                flex-direction: column;
                gap: 30px;


                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;

                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: turquoise;
                    color: var(--body-color);
                    font-weight: bold;
                    cursor: pointer;
                }
               
            }
        }
    }
}