.post {
    width: 600px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    color: var(--body_color);
   
   .container{
        padding: 20px;
        .info {
            margin-right: 20px;
            justify-content: center;
            border: null; 
            display: inline-block; 
          }
        

        .job{
            display: flex;
            align-items: center;
            justify-content: space-between;

        

        .jobInfo{
            display: flex;
            gap: 20px;

            .details{
                display: flex;
                flex-direction: column;

                .jobTitle{
                    font-weight: 700;
                    font-size: 30px;
                }


                .companyName{

                    font-size: 27px;
                }
                .location{
                    font-size: 20px;

                }
            }
        }
    }    

        .content{
            margin: 20px 0px;

            .logo{
                width: 100px;
                height: 100px;
                
                margin-top: 20px;
            }

            img{
                
                height: 100px;
            }
        }

            button{
                width: 100px;
                padding: 10px;
                border: none;
                background-color:turquoise;
                color: var(--body_color);
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
